.rectangle-container {
    display:block;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60%; 
    left: 50%;
    margin-top: 30px;
    transform: translate(-50%, -50%);
    width: 70%; 
    background-color: #f5f7fb;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    z-index: 5;
  }
  
  .rectangle-content {
    text-align:left;
    font-size: 1.1rem;
    color: #243457;
  }
  .rectangle-content p{
    color: #333;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .rectangle-content h3{
    margin-bottom: 15px;
  }
  
  @media (max-width: 768px) {
    .rectangle-container {
      width: 90%; 
      padding: 15px;
    }
    
    .rectangle-content {
      font-size: 1rem;
    }
  }
  