
  .video-container {
    display:block;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 63%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%; 
    background-color: #f5f7fb;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    z-index: 5;
  }
  
  video {
    width: 100%;                 
    height: 100%;                
    border-radius: 10px;        
  }
  
  @media (max-width: 768px) {
    .video-container {
      display:block;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 33%; 
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%; 
      background-color: #f5f7fb;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
      z-index: 5;
      height: 200px;
    }
    
    video {
      width: 100%;                 
      height: 100%;                
      border-radius: 10px;        
    }
  }