@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #243457;
}

.team-page {
	background-color: #243457;
	animation: gradientAnimation 5s ease infinite;
	min-height: 100vh; /* Ensures content fits the viewport height */
	padding-top: 50px; /* Avoid large padding that causes scrolling */
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
      }
      
      @keyframes gradientAnimation {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
      }
      
      /* Remove global body styling */
      body {
	background: none;
	margin: 0;
	padding: 0;
      }
      
.team-page h1 {
  color: #FFFFFF;
  font-size: 3rem;
  font-family: 'Playfair Display', sans-serif;
  margin-bottom: 20px;
}

.team-description {
  font-family: "Tangerine", cursive;
  color: #ffffff;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}

.team-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin-top: 30px;
  max-width: 1200px;
}

.team-card {
  flex: 0 0 calc(33.33% - 40px);
  background-color: rgba(203, 217, 230, 0.9);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: calc(33.33% - 40px);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.team-card:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  background-color: #849ec6;
}

.team-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .team-card {
    flex: 0 0 calc(50% - 40px);
    width: calc(50% - 40px);
  }
}

@media screen and (max-width: 480px) {
  .team-card {
    flex: 0 0 100%;
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
