@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Outfit:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0; /* Reset global margin */
  padding: 0; /* Reset global padding */
  font-family: "Outfit", sans-serif;
  overflow-x: hidden;
}

.navbar, .hero-img, .footer {
  width: 100%; /* Ensure full width */
  margin: 0;
  padding: 0;
}

h1,
h4,
p,
a{
  color: #fff;
  text-decoration: none;
}
ul{
  list-style-type: none;
}
.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(248, 217, 15);
  color: #222;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
}

.btn-light {
  /* background: rgba(255, 255, 255, 0.2); */
  background: transparent;
  color: #fff;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: 0.3s;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  font-size: 1.1rem;
  color: #001f3f; /* Dark Blue */
  text-align: center;
  min-height: 200px;
  justify-content: center;
}

.spinner {
  border: 6px solid #e0e0e0;
  border-top: 6px solid #007BFF;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.gif-loader,
.db-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.fact-text {
  margin-top: 16px;
  color: darkblue;
  /* font-size: 1rem; */
  font-weight: 500;
  text-align: center;
  max-width: 80%;
}

.fact-text {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}