.assignment-container {
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.scrolling-wrapper {
  display: flex;
  overflow: hidden; /* Hide the scrollbar */
  gap: 1rem;
  width: 90%; /* Set a width for the scrollable area */
}

.scrolling-card {
  min-width: 250px;
  max-width: 350px;
  width: 350px;
  background-color: #C2CAD6;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.assignment-title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  color: #354F77;
}

.assignment-aim {
  margin-top: 30px;
  font-size: 1rem;
  color: #333333;
  text-align: center;
}

.scroll-btn {
  background-color: #354F77;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.scroll-btn.left {
  margin-right: 1rem;
}

.scroll-btn.right {
  margin-left: 1rem;
}

.scroll-btn:hover {
  background-color: #2A3E5B; /* Darken button on hover */
}
