.footer {
  background-color: #333; 
  color: #fff; 
  padding: 1.5rem 0;  
  font-size: 0.9rem;
}

.footer-container {
  display: flex;
  justify-content: space-between; /* Adjusts the alignment of the left and right sections */
  align-items: center;
  max-width: 1200px; /* Set a reasonable max-width to make it more compact */
  width: 90%; /* Set width to 90% for responsiveness */
  margin: 0 auto; /* Center the footer content */
  padding: 0 2rem; /* Adjust padding to bring sections closer together */
}

.footer-section {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

.location, .contact, .email {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
}

.footer-section p {
  margin: 0;
}

.links {
  margin-top: 0.75rem; 
}

.links a {
  color: #fff;
  margin: 0 0.5rem;
  text-decoration: none;
  transition: color 0.2s;
}

.links a:hover {
  color: #ccc; 
}

.footer-section a {
  color: #f39c12; 
  font-weight: bold;
}
