.footer {
    border-top: #ffffff ;
    width: 100%;
    padding: 2rem 0;
    background-color:#282828;
    color: #ffffff;  
}
  
  .footer-container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    border: 3px solid #f0f0dc;  
    border-radius: 10px;
    padding-top: 3rem; 
    margin-top: 2rem;
    padding-bottom: 3rem;
    margin-bottom: 2rem;
  }
  
 
  .left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .location, .phone, .email {
    display: flex;
    align-items: center;
  }
  
  .location p, .phone p, .email p {
    margin: 0;
    line-height: 1.5;
    font-size: 1.1rem;
  }
  

  .right {
    display: flex;
    align-items:center;
    justify-content: flex-end;
    flex-direction: column;
    padding-right: 20px;
  }
  
  .right a {
    color: #f0a500;
    text-decoration: none;
    font-weight: 600;
  }
  
  .right a:hover {
    text-decoration: underline;
  }
 

  @media (max-width: 768px) {
    .footer-container {
      grid-template-columns: 1fr;
      text-align: center;
    }
  
    .right {
      align-items: center;
      justify-content: center;
      padding-right: 0;
    }
  }
  